*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    height: 3rem;
}

nav input[type="text"]{
    border-radius: 40px;
    border: none;
    background: lightgray;
    width: 500px;
    height: 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
}

main section{
    background: lightgray;
    width: 95vw;
    min-height:10rem;
    padding: .5rem;
}

main section #sectionHead{
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

main section .content{
    display: grid;
    grid-template-columns: 1.8fr .2fr;
}

main section .content #text{
    display: flex;
    flex-direction: column;
    gap: .4rem;

}

.postSubreddit{
    font-size: .8rem;
}

.postTime{
    font-size: .71rem;
    color: rgb(84, 84, 84);
}

.postTitle{
    font-size: 1.2rem;
}

.postContent{
    font-size: 1.1rem;  
}

main section #sectionHead #right button{
    border-radius: 50px;
    width: 3rem;
    height: 1.4rem;
    background: rgb(48, 107, 255);
    color: white;
    font-weight: bold;
    border: none;
}